.postForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

  textarea {
    margin-bottom: 10px;
  }
}

.posts-container {
  & > * {
    margin: 30px 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    background: white;
    padding: 16px;
  }
}
