@import "../vars.scss";

$header-height: 100px;

* {
  box-sizing: border-box;
}

#root,
body {
  background: rgb(240, 242, 245);
  height: 100%;
}

.app {
  background: rgb(240, 242, 245);
}

.container {
  margin: 0 auto;
  margin-top: $header-height;
  width: 90vw;
  padding: 30px;
  display: flex;
  justify-content: center;
}

textarea {
  border-radius: 20px;
  // border: 0.5px solid grey;
  border: none;
  padding: 1em;
  font-family: inherit;
  resize: none;
  font-weight: 300;
  width: 100%;
  background: rgb(240, 242, 245);

  & :focus {
    outline-style: solid;
    outline-width: 1px;
    color: red;
  }
}

img {
  border-radius: 25px;
}

// Commons
.submit-btn {
  @include submit-btn;
}

.signup-btn {
  @include btn($fb-green, rgb(0, 160, 0));
}

button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.flex-bar {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

.name,
.usersName,
.author {
  text-transform: capitalize;
  font-weight: 700;
}
