$header-height: 100px;

.header {
  position: fixed;
  height: $header-height;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
  padding: 1.2em;
  background: #4267b2;
  box-shadow: 0 0 10px 1px rgba(158, 151, 151, 0.4);
  z-index: 3;
}

h1 {
  font-weight: 700;
  font-size: 38px;
}

h1,
.link {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;

  .link {
    cursor: pointer;
    text-decoration: none;
    transition: font-size 0.3s;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    align-self: center;

    .profilePic {
      display: flex;
      flex-direction: rows;
      width: fit-content;

      .usersName {
        margin-right: 5px;
        white-space: nowrap;
        align-self: center;
      }
    }

    &:hover {
      color: rgb(150, 150, 150);
    }
  }
}
