@import "../vars.scss";

.login-form,
.signup-form {
  @include fb-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 400px;

  h2 {
    margin: 0;
    font-weight: 500;
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0.5em 0;
  }

  input {
    margin-top: 5px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background: $input-grey;
    padding: 0.5em 0.8em;
    font-size: 18px;
  }
}

.login-form {
  margin: 0 auto;
}

.form-title {
  text-align: center;
}

.error {
  color: red;
  font-style: italic;
  margin: 5px 0;
}

.line {
  border-top: 1px solid $line-grey;
  margin: 1em 0;
}

.signup-btn {
  background: $fb-green;
  width: 70%;
  margin: 0 auto;
}

.login header {
  color: $fb-logo-blue;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.exit-btn {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
}
