@import "../vars.scss";

.login-form,
.signup-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 400px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
  padding: 1.5em;
  margin: 0 auto;
  border-radius: 15px;
  background: white;

  label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0.5em 0;
  }

  input {
    margin-top: 5px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background: rgb(255, 251, 251);
    padding: 0.5em 0.8em;
    font-size: 18px;
  }
}

.login-form {
  margin: 30px auto;
}

.form-title {
  text-align: center;
}

.error {
  color: red;
  font-style: italic;
  margin: 5px 0;
}

.line {
  border-top: 1px solid $line-grey;
  margin: 1em 0;
}

.signup-btn {
  background: $fb-green;
  width: 70%;
  margin: 0 auto;
}

.login header {
  color: $fb-logo-blue;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  margin-top: 50px;
}
